@page "/"
<section class="home">

<h1>Štěpán Haken!</h1>

<p>
    Vítejte na mém webu, tady publikuji výsledky mé práce.
</p>
<p>
    Zdrojové kódy tohoto webu si můžete prohlédnout na adrese:
</p>
<p class="odkaz2"><a href="https://github.com/StepanHaken/StepanWeb/tree/master/StepanWeb/Pages">https://github.com/StepanHaken/StepanWeb/tree/master/StepanWeb/Pages</a></p>
</section>



