@page "/scratch/basket"
<h1>Basket</h1>
<p>Tohle je jednoduchá hra na chytání míče.</p>
<h2>Ovládání a pravidla</h2>
<ul>
    <li>
        ovládá se šipkami
    </li>
    <li>máš 3 životy</li>
</ul>
<p><img src="/images/basket.png"/></p>
<p><a href="https://scratch.mit.edu/projects/321972334/fullscreen/" class ="btn btn-primary">klikněte pro start hry</a></p>
<p><a href="https://scratch.mit.edu/projects/321972334/editor/" class="btn btn-secondary">program hry</a></p>