@page "/scratch/strileni"
<h1>Střílení</h1>
<p>Tohle je jednoduchá na střílení ptáků.</p>
<h2>Ovládání a pravidla</h2>
<ul>
    <li>
        ovládá se myší a mezerníkem.
    </li>

</ul>
<p><img src="/images/strileni.png" width="500"/></p>
<p><a href="https://scratch.mit.edu/projects/277672705/fullscreen/" class="btn btn-primary">klikněte pro start hry</a></p>
<p><a href="https://scratch.mit.edu/projects/277672705/editor/" class="btn btn-secondary">program hry</a></p>
