@page "/zaverecna-prace"
<section class="obsah">

    <h1>Obsah</h1>
    <ul>
        <li><a href="/zaverecna-prace/uvod">Úvod</a> <span class="stranka">(https://stepan.haken.dev/zaverecna-prace/uvod)</span></li>
        <li><a href="/zaverecna-prace/vlastni-text#pocitace">Počítače</a> <span class="stranka">(https://stepan.haken.dev/zaverecna-prace/vlastni-text#pocitace)</span></li>
        <li><a href="/zaverecna-prace/vlastni-text#programovani">Programování</a> <span class="stranka">(https://stepan.haken.dev/zaverecna-prace/vlastni-text#programovani)</span></li>
        <li>
            <a href="/zaverecna-prace/vlastni-text#programovaci-jazyky">Programovací jazyky</a> <span class="stranka">(https://stepan.haken.dev/zaverecna-prace/vlastni-text#programovaci-jazyky)</span> 
            <ul>
                <li>
                    <a href="/zaverecna-prace/vlastni-text#blockly">Blockly</a> <span class="stranka">(https://stepan.haken.dev/zaverecna-prace/vlastni-text#blockly)</span> 
                    <ul>
                        <li><a href="/zaverecna-prace/vlastni-text#code-org">Code.org</a> <span class="stranka">(https://stepan.haken.dev/zaverecna-prace/vlastni-text#code-org)</span> </li>
                        <li><a href="/zaverecna-prace/vlastni-text#scratch">Scratch</a> <span class="stranka">(https://stepan.haken.dev/zaverecna-prace/vlastni-text#scratch)</span></li>
                    </ul>
                </li>
                <li>
                    <a href="/zaverecna-prace/vlastni-text#c-jazyky"> C-jazyky</a> <span class="stranka">(https://stepan.haken.dev/zaverecna-prace/vlastni-text#c-jazyky)</span>
                    <ul>
                        <li><a href="/zaverecna-prace/vlastni-text#csharp">C#</a> <span class="stranka">(https://stepan.haken.dev/zaverecna-prace/vlastni-text#csharp)</span></li>
                    </ul>
                </li>
                <li><a href="/zaverecna-prace/vlastni-text#dalsi-jazyky">Další jazyky</a> <span class="stranka">(https://stepan.haken.dev/zaverecna-prace/vlastni-text#dalsi-jazyky)</span></li>
            </ul>
        </li>
        <li><a href="/zaverecna-prace/zaver">Závěr</a> <span class="stranka">(https://stepan.haken.dev/zaverecna-prace/zaver)</span></li>
        <li><a href="/zaverecna-prace/zdroje">Zdroje</a> <span class="stranka">(https://stepan.haken.dev/zaverecna-prace/zdroje)</span></li>
    </ul>
</section>
<style>
    .obsah {
        max-width: 800px;
    }
        .obsah ul {
            list-style-type: none;
        }

        .obsah .stranka {
            display: none;
        }


    @@media print {
        .obsah {
            font-family: 'Times New Roman', Times, serif;
            font-size: 16pt;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3rem;
        }

            .obsah a {
                text-decoration: none;
                color: black;
            }

            .obsah .stranka {
                display: inline;
                font-size:13pt;
                color:darkgray;
            }
    }
</style>
