@page "/zaverecna-prace/prohlaseni"
<section class="prohlaseni">
    <h1>Prohlášení</h1>
    <p>
        Prohlašuji, že jsem závěrečnou práci zpracoval samostatně a použil jen uvedené zdroje, jejichž seznam je v příloze.
    </p>
    <p>V Praze dne 22.5.2020, Štěpán Haken</p>
</section>
<style>
    .prohlaseni {
        max-width: 800px;
    }
    @@media print {
        .prohlaseni {
            font-family: 'Times New Roman', Times, serif;
            font-size: 16pt;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3rem;
        }
    }
</style>