@page "/zaverecna-prace/titulka"
<section class="titulka">
    <p>Základní škola Charlotty Masaryková, Praha 5 - Velká Chuchle </p>
    <h1>Programování</h1>
    <section class="zp">Závěrečná práce</section>
    <section class="rocnik">v V. ročníku</section>
    <section class="author">
        Vypracoval:<br />
        Štěpán Haken
    </section>
    <footer>
        Praha - Velká Chuchle<br />
        Školní rok 2019/2020
    </footer>
</section>
<style>
    .titulka {
        max-width: 1000px;
        font-family:'Times New Roman', Times, serif;
        font-size:22pt;
        text-align:center;
    }
    .titulka h1 {
        margin-top:20rem;
        font-style:italic;
    }
    .zp {
        font-weight:bolder;
    }
    .rocnik {
        font-weight:bold;
    }
    .author {
        margin-top:40rem;
        text-align:right;
        margin-right:5rem;
    }
    footer {
        margin-top:7rem;
    }
    @@media print {
        .titulka {
            font-family: 'Times New Roman', Times, serif;
            font-size: 16pt;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3rem;
        }
    }

</style>