@page "/zaverecna-prace/uvod"
<section class="uvod">
    <h1>Úvod</h1>
    <p>
        Zájímají mě počítače, a proto jsem si jako téma své závěrečné práce vybral právě programování. Zvolil jsem si ho, protože je to můj koníček, a proto to pro mě bylo jednodušší, než jiná témata. Práci jsem se rozhodl naprogramovat v jazyce C# [síšarp] formou webových stránek, aby mě to při vytváření bavilo. Naučil jsem se něco nového (HTML/CSS) a ukázal, že práce jde napsat i jinak.
    </p>
    <p>
        Výsledná podoba práce je  vystavena na adrese:
    </p>
    <p class="odkaz"><a href="https://stepan.haken.dev/zaverecna-prace">https://stepan.haken.dev/zaverecna-prace</a></p>
    <p>
        Zdrojové kódy mé práce si můžete prohlédnout na adrese:
    </p>
    <p class="odkaz2"><a href="https://github.com/StepanHaken/StepanWeb/tree/master/StepanWeb/Pages/ZaverecnaPrace">https://github.com/StepanHaken/StepanWeb/tree/master/StepanWeb/Pages/ZaverecnaPrace</a></p>
    <p>
        Nejprve se dozvíte, co jsou to počítače a z čeho se skládají. Vysvětlím vám, jak vznikají programy a k čemu je programování. Podíváme se na několik programovacích jazyků a na ukázce vám vysvětlím, jak se programuje.
    </p>
</section>
<style>
    .uvod {
        max-width: 800px;
    }

    .odkaz {
        font-size: 30pt;
        text-align: center;
    }

    .odkaz2 {
        font-size: 15pt;
        text-align: center;
    }

    @@media print {
        .uvod {
            font-family: 'Times New Roman', Times, serif;
            font-size: 16pt;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3rem;
        }
    }
</style>
