@page "/zaverecna-prace/uvod"
<section class="uvod">
    <h1>Úvod</h1>
    <p>
        Zájímají mě počítače, a proto jsem si jako téma své závěrečné práce vybral právě programování. Zvolil jsem si to, protože je to můj koníček, a proto to pro mě bylo docela jednoduché. Práci  jsem se rozhodl naprogramovat v jazyce C# formou webových stránek, aby mě to při vytváření bavilo, naučil jsem se něco nového (HTML/CSS) a ukázal, že to jde i jinak než pravěký způsob předpokládaný školou.
    </p>
    <p class="odkaz"><a href="https://stepan.haken.dev/zaverecna-prace">https://stepan.haken.dev/zaverecna-prace</a></p>
    <p>
        Nejprve se dozvíte, co jsou to počítače a z čeho se skládají. Vysvětlím vám, jak vznikají programy a k čemu je programování. Podíváme se na několik programovacích jazyků a na ukázce vám vysvětlím, jak se programuje.
    </p>
</section>
<style>
    .uvod {
        max-width: 800px;
    }
    .odkaz{
        font-size:30pt;
        text-align:center;
    }
    

    @@media print {
        .uvod {
            font-family: 'Times New Roman', Times, serif;
            font-size: 16pt;
            margin-left: auto;
            margin-right: auto;
        }
    }
</style>
