@page "/zaverecna-prace/vlastni-text"
<section class="vlastniText">
    <h1>Počítač</h1>
    <p>
        Počítač je elektrický přístroj, který slouží lidem skoro ke všemu. Například:
        <ul>
            <li>k vyhledávání všeho možného na internetu,</li>
            <li>k hraní her, což je v našem věku nejpoužívanější,</li>
            <li>k učení,</li>
            <li>na telefonování, videohovory a jinou komunikaci,</li>
            <li>na vytváření prezentací, textů a tabulek.</li>
        </ul>
        Počítač je chytřejší než lidi, protože je to umnělá inteligence. Počítač je ve všem, co zajišťuje komunikaci (mobilní telefon, tablet),
        ale i v téměř každém elektronickém zařízení (televize, lednice, pračka, auto, kávovar).
    </p>
    <p>
        Počítač se skládá z:
        <ul>
            <li>procesoru (CPU), který je mozkem celého počítače a řídí jeho běh,</li>
            <li>operační paměti (RAM), v které jsou uloženy informace, na kterých počítač právě pracuje a programy, které právě běží,</li>
            <li>paměťového disku (HDD), na který se toho vejde hodně a zůstane to tam, i když je počítač vypnutý,</li>
            <li>grafické karty, která umožňuje zobrazování obrazu na monitoru,</li>
            <li>ventilátoru a chlazení, aby se počítač nepřehříval,</li>
            <li>klávesnice, kterou se píše text a ovládá počítač,</li>
            <li>monitoru, který zobrazuje obraz připravený grafickou kartou,</li>
            <li>myši, která umožňuje pohyb kurzoru na obrazovce,</li>
            <li>síťové karty, která zajišťuje spojení počítače s okolím, zejména internetem,</li>
        </ul>
    </p>


    <h1>Programování</h1>
    <p>
        Všechno, co počítač dělá, je program, který musel někdo naprogramovat. Může se programovat textově nebo pomocí diagramů.
    </p>
    <h1>Programovací jazyky</h1>

    <h2>Blockly</h2>
    <h3>Code.org</h3>
    <h3>Scratch</h3>

    <h2>C-jazyky</h2>
    <h3>C#</h3>
    <h3>C++</h3>

    <h2>Další jazyky</h2>
</section>
<style>
    .vlastniText {
        font-family: 'Times New Roman', Times, serif;
        font-size: 12pt;
    }
</style>