@page "/zaverecna-prace/vlastni-text"
    <section class="vlastniText">
        <h1 id="pocitac">Počítač</h1>

        <p>
            Počítač je elektrický přístroj, který slouží lidem skoro ke všemu. Například:
            <ul>
                <li>k vyhledávání všeho možného na internetu,</li>
                <li>k hraní her, což je v našem věku nejpoužívanější,</li>
                <li>k učení,</li>
                <li>na telefonování, videohovory a jinou komunikaci,</li>
                <li>na vytváření prezentací, textů a tabulek.</li>
            </ul>
            Počítač je chytřejší než lidi, protože je to umnělá inteligence. Počítač je ve všem, co zajišťuje komunikaci (mobilní telefon, tablet),
            ale i v téměř každém elektronickém zařízení (televize, lednice, pračka, auto, kávovar).
        </p>
        <p>
            Osobní počítač se skládá z:
            <ul>
                <li>procesoru (CPU), který je mozkem celého počítače a řídí jeho běh,</li>
                <li>operační paměti (RAM), v které jsou uloženy informace, na kterých počítač právě pracuje a programy, které právě běží,</li>
                <li>paměťového disku (HDD), na který se toho vejde hodně a zůstane to tam, i když je počítač vypnutý,</li>
                <li>grafické karty, která umožňuje zobrazování obrazu na monitoru,</li>
                <li>ventilátoru a chlazení, aby se počítač nepřehříval,</li>
                <li>klávesnice, kterou se píše text a ovládá počítač,</li>
                <li>monitoru, který zobrazuje obraz připravený grafickou kartou,</li>
                <li>myši, která umožňuje pohyb kurzoru na obrazovce,</li>
                <li>síťové karty, která zajišťuje spojení počítače s okolím, zejména internetem,</li>
                <li>zdroj nebo napájecí adapter, který upravuje elektřinu na potřebné napětí.</li>
            </ul>
            Některé počítače obsahují také:
            <ul>
                <li>baterii, aby mohly fungovat bez pevného připojení do elektriky,</li>
                <li>fotoaparát nebo kameru, abyste mohli fotit, nebo slouží k video hovorům,</li>
                <li>touchpad, který nahrazuje myš u notebooku,</li>
                <li>DVD mechaniku nabo "vypalovačku", aby se dala přečíst data na disku nebo přehrát film.</li>
            </ul>
        </p>


        <h1 id="programovani">Programování</h1>
        <p>
            Všechno, co počítač dělá, je program, který musel někdo naprogramovat. Program je ve skutečnosti tvořen příkazy,
            které počítači určují, co má přesně kdy dělat. Postup práce zapsaný krok za krokem v podobě příkazů je algoritmus.
            Základní příkazy rozdělujeme na:
            <ul>
                <li>matematické operace, které slouží k výpočtům, například sčítání, odčítání, násobení, dělení a dělení se zbytkem,</li>
                <li>smyčky (cykly), v kterých se několik příkazů opakuje,</li>
                <li>podmínky, které umožňují větvění programu na různé cesty,</li>
                <li>vstupní a výstupní příazy, kterými program komunikuje s okolím,</li>
                <li>příkazy pro práci s pamětí, kterými program může ukládat výsledky operací do proměnných a číst je zpět,</li>
                <li>skoky, kterými program může přeskočit na jiné místo algoritmu,</li>
                <li>složené příkazy, které umožňují spojit několik příkazů dohromady a používat je na jednou.</li>
            </ul>
        </p>
        <h1 id="programovaci-jazyky">Programovací jazyky</h1>
        <p>
            Počítače rozumí jenom jedničkám a nulám. Aby programátoři nemuseli zapisovat programy v podobě jedniček a nul,
            existují programovací jazyky. Ty umožňují sestavit progaram v podobě dohodnutých příkazů,
            které si počítač převede na jedničky a nuly sám. Tomuto převodu se říká kompilace (pokud se jedničky a nuly převedou dopředu),
            nebo interpretace (pokud se jedničky a nuly převádějí až při vykonávání programu).
        </p>
        <p>
            Můžeme programovat textově, nebo pomocí diagramů. Profesionální programy vznikají obvykle pomocí textových příkazů.
            Diagramy jsou většinou pro děti, ale existují i profesionální prostředí, kde se programuje pomocí diagramů (například Microsoft
            Logic Apps).
        </p>


        <h2 id="blockly">Blockly</h2>
        <p>
            Jedním z programovacích jazyků pro výuku dětí jsou Blockly, kde program vzniká pomocí připravený stavebnéích bloků (příkazů),
            které do sebe zapadají a tvoří vývojový diagram.
        </p>
        <p><img src="/images/tukan-program.png" /></p>

        <h3 id="code-org">Code.org</h3>
        <p>
            Code.org je stránka na internetu, kde programují začátečníci pomocí bloků. Jsou tam lekce pro všechny věkové kategorie,
            od nejmenších dětí až po ty nejstarší.
        </p>
        <p><img src="/images/minecraft.org.png" /></p>
        <p>
            Pokaždé je tam úkol, který s pomocí Code.org postupně plníš. V úkolech jsou postavičky, s kterými hýbeš pomocí příkazů
            a snažíš se s nimi splnit zadanou úlohu. Zadání je postupně složitější a složitější, na začátku jenom chodíš bludištěm,
            po zadané trase a na konci maluješ obrazce nebo vytváříš jednoduchou hru. Aby to děti bavilo tak jsou postavičky z různých
            kreslených pohádek, animovaných seriálů a počítačových her (Star Wars, Minecraft nebo Angry Birds).
        </p>

        <h3 id="scratch">Scratch</h3>
        <p>
            Scratch je podobný Code.org, jenže tady si můžeš dělat co chceš, nejseš vázán žádným zadáním. Můžeš si tam vytvořit vlastní postavy
            a těm naprogramuješ scénář chování. Nebo můžeš naprogramovat hru a tu pak hrát nebo nasdílet, aby si jí mohli najít a zahrát všichni.
            Dá se vytvoři úplně jednoduchý program, ale i složitý program, který ti může trvat naprogramovat až několik dní.
        </p>
        <p>
            <img src="/images/scratch.png" />
        </p>
        <p>
            Scratch má větší množství příkazů než Code.org. Postavy si například mohou navzájem posílat zprávy a na ně pak reagovat nějakou akcí.
            Dají se vytvářet proměné (pojmenované přihrádky v paměti) a do nich ukládat data. Ve Scratch si můžete vytvořit i vlastní příkazy
            nebo nahrát rozšiřující sadu příkazů, kterou připravil někdo jiný. Tímto způsobem lze ze Scratch ovládat třeba
            drona, robota nebo micro:bit.
        </p>

        <h2 id="c-jazyky">C-jazyky</h2>
        <p>
            Velká část současných textových programovacích jazyků je odvozena z jazyka C,
            který počátkem 70. let 20. století vyvinuli Ken Thompson a Dennis Ritchie pro potřeby operačního systému Unix.
            Pojmenování „C“ zvolili, protože mnoho vlastností přebírali ze staršího jazyka zvaného „B“,
            jehož název byl zase odvozen od jazyka BCPL (ale to není jisté, neboť Thompson také vytvořil jazyk Bon na poctu své ženy Bonnie).<sup>1)</sup>
        </p>
        <h3 id="csharp">C#</h3>
        <p>
            Jedním z jazyků odvozených od jazyka C je C# [sí-šarp], který vyvinula firma Microsoft a slouží k vývoji programů  pro platformu .NET [dot-net]. Dříve tyto programy fungovaly pouze na Windows, ale teď už běží i na jiných operačních systémech.
        </p>
        <p>
            Tohle je ukázka programu na hádání čísel. Můžete si ho vyzkoušet na mém webu na stránce <a href="/csharp/hadani-cisel">Hádání čísel</a>.<sup>2)</sup>
        </p>
        <code>
            <pre>
            int pokus;
            int hadaneCislo;
            int tip;
            string odpoved;
            protected override void OnInitialized()
            {
                hadaneCislo = new Random().Next(1000000000);
            }
            void Send()
            {
                if (hadaneCislo &gt; tip)
                {
                    odpoved = "hledané číslo je větší";
                }
                if (hadaneCislo &lt; tip)
                {
                    odpoved = "hledané číslo je menší";
                }
                if (hadaneCislo == tip)
                {
                    odpoved = "to je ono!";
                }
                pokus = pokus + 1;
            }
            void Restart()
            {
                hadaneCislo = new Random().Next(1000000000);
                pokus = 0;
                odpoved = "myslím si další číslo";
            }
        </pre>
        </code>
        <p>
            Jedná se o výstřižek výkonné části stránky. Na začátku jsou proměnné:
            <ul>
                <li><code>pokus</code>, kam se přičítají pokusy,</li>
                <li><code>hadaneCislo</code>, číslo které si počítač myslí,</li>
                <li><code>tip</code>, váš tip,</li>
                <li><code>odpoved</code>, zobrazovaná nápověda.</li>
            </ul>
        </p>
        <p>
            <code>OnInitialized</code> je kód, který se vykoná při spuštění stránky. Vevnitř je příkaz, který vymýšlí náhodné číslo a uloží ho do paměti do proměnné <code>hadaneCislo</code>.
        </p>
        <p>

            Medoda <code>Send</code> se vykoná po odeslání čísla uživatalem (kliknutím na tlačítko <i>Odeslat</i>). Potom počítač zjišťuje, jestli je tip větší, menší, nebo rovno hádanému číslu, a podle toho nastaví proměnnou <code>odpoved</code>, která se zobrazuje na stránce jako nápověda. <code>Send</code> taky přičítá pokusy.
        </p>
        <p>
            <code>Restart</code> je metoda, která vynuluje počítadlo pokusů a nastaví ostatní poměnné, aby mohla hra začít znovu.
        </p>


      

        <h2 id="dalsi-jazyky">Další jazyky</h2>
        <p>

            Programovacích jazyků jsou stovky. Mezi nejpoužívanější patří napríklad Java, která se používá hlavně pro informační systémy, JavaScript, který se používá na webových stránkách nebo Python, hodně používaný  na školách. V roce 2019 dělaly stránky StackOverflow průzkum<sup>3)</sup> mezi svými uživateli a z 90 000 odpovědí vyšly jako nejpopulárnější následující jazyky:
            <ol>
                <li>JavaScript (67%)</li>
                <li>HTML/CSS (63%)</li>
                <li>SQL (54%)</li>
                <li>Python (41%)</li>
                <li>Java (41%)</li>
                <li>Shell (36%)</li>
                <li>C# (31%)</li>
                <li>PHP (26%)</li>
                <li>C++ (23%)</li>
                <li>TypeScript (21%)</li>
                <li>C (20%)</li>
            </ol>
        </p>


        <hr />
        <sup>1)</sup> Wikipedia: C (programovací jazyk)
        <br /><sup>2)</sup> https://stepan.haken.dev/csharp/hadani-cisel
        <br /><sup>3)</sup> StackOverflow: Developer Survey Results 2019

    </section>
<style>
    .vlastniText {
        max-width: 800px;
    }

    img {
        max-width: 100%;
        object-fit: contain;
    }

    @@media print {
        .vlastniText {
            font-family: 'Times New Roman', Times, serif;
            font-size: 16pt;
            margin-left: auto;
            margin-right: auto;
        }
    }
</style>