@page  "/zaverecna-prace/zaver"
<section class="zaver">
    <h1>Závěr</h1>
    <p>
        Co říci závěrem: V této závěrečné části mé závěrečné práce vypracované na závěr páté třídy, bych rád zdůraznil, že počítače jsou neoddělitelnou součástí našich životů a setkáváme se s nimi na každém kroku.
        Práce s počítačem by se měla ve škole učit stejně jako český jazyk nebo matematika a možná i víc, protože je pro život důležitá a užitečná. I programování by mělo být součástí výuky, protože v budoucnosti nebude výsadou programátorů, ale běžnou součástí práce s počítačem. Stejně jako činnosti, které jsme si dříve neuměli při práci s počítačem ani představit a dnes je považujeme za běžné (nakupování, videohovory, online výuka, úprava fotografií, kontrola gramatiky a tak podobně).
        
    </p>
    <p>
        C# a Scratch jsem do práce zvolil, protože se je učím ve volném čase a chodím na kroužky programování, kde s těmito jazyky pracujeme. Oba to jsou jazyky srozumitelné a doporučil bych je každému začátečníkovi.
    </p>
</section>
<style>
    .zaver {
        max-width: 800px;
    }
    @@media print {

        .zaver {
            font-family: 'Times New Roman', Times, serif;
            margin-right: auto;
            font-size: 16pt;
            margin-left: auto;
        }
    }
</style>
