@page  "/zaverecna-prace/zaver"
<section class="zaver">
    <h1>Závěr</h1>
    <p>
        Co říci závěrem: V této závěrečné části mé závěrečné práce vypracované na závěr páté třídy, bych rád zdůraznil, že počítače jsou neodtělitelnou součástí našich životů a setkáváme se s nimi na každém kroku.
        Práce s počítačem by se měla učit stejně jako čeština nebo matematika a možná i víc, protože je mnohem důležitější než nějaká y/i, která už za vás zvládne počítač. I programování by mělo být součástí výuky, protože v budoucnosti nebude výsadou programátorů, ale běžnou součástí práce s počítačem. Stejně jako činosti, které jsme si dříve neuměli na počítači ani představit (nakupování, videohovory, online výuka, úprava fotografií a tak podobně).
        
    </p>
</section>
<style>
    .zaver {
        max-width: 800px;
    }

    @@media print {
        .zaver {
            font-family: 'Times New Roman', Times, serif;
            font-size: 16pt;
            margin-left: auto;
            margin-right: auto;
        }
    }
</style>
