@page "/zaverecna-prace/zdroje"
<section class="zdroje">
    <h1>Zdroje</h1>


    <p>
        [1] Wikipedia: C (programovací jazyk) <a href="https://cs.wikipedia.org/wiki/C_(programovac%C3%AD_jazyk)">https://cs.wikipedia.org/wiki/C_(programovac%C3%AD_jazyk)</a>
        <br />[3] StackOverflow: Developer Survey Results 2019 <a href="https://insights.stackoverflow.com/survey/2019">https://insights.stackoverflow.com/survey/2019</a>
    </p>
</section>
<style>
    .zdroje {
        max-width: 800px;
    }

    @@media print {
        .zdroje {
            font-family: 'Times New Roman', Times, serif;
            font-size: 16pt;
            margin-left: auto;
            margin-right: auto;
        }
    }
</style>
