@page "/zaverecna-prace/zdroje"
    <section class="zdroje">
        <h1>Zdroje</h1>


        <p>
            [1] Wikipedia: C (programovací jazyk) <a href="https://cs.wikipedia.org/wiki/C_(programovac%C3%AD_jazyk)">https://cs.wikipedia.org/wiki/C_(programovac%C3%AD_jazyk)</a>
        </p>
    </section>