@page "/csharp/online-cviceni"
<section class="cviceni">
    <h1>Online cvičení C#</h1>
    <p>
        Tady vidíte cvičení z kroužku programování Programiště a z Programátorského klubu C# na Mensagymnáziu:
        <ul>
            <li><a href="https://dotnetfiddle.net/wnocxn"><b>Maximální výraz</b> (https://dotnetfiddle.net/wnocxn)</a></li>
            <li><a href="https://dotnetfiddle.net/b2wmbr"><b>Počítání čísel</b> (https://dotnetfiddle.net/b2wmbr)</a></li>
            <li><a href="https://dotnetfiddle.net/FlodCW"><b>Kořen čísla-suma číslic</b> (https://dotnetfiddle.net/FlodCW)</a></li>
        </ul>
        
    </p>
</section>
