<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Štěpán Haken</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/scratch/basket">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> basket
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/csharp/hadani-cisel">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> hádání čísel
            </NavLink>
        </li>
        <li class="nav-item px-3 nadpis">
            <h1>Závěrečná práce ZŠ</h1>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/zaverecna-prace/titulka">
                <span class="oi oi-document" aria-hidden="true"></span> Titulka
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/zaverecna-prace" Match="NavLinkMatch.All">
                <span class="oi oi-document" aria-hidden="true"></span> Obsah
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/zaverecna-prace/uvod">
                <span class="oi oi-document" aria-hidden="true"></span> Úvod
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/zaverecna-prace/vlastni-text">
                <span class="oi oi-document" aria-hidden="true"></span> Vlastní text
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/zaverecna-prace/zaver">
                <span class="oi oi-document" aria-hidden="true"></span> Závěr
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/zaverecna-prace/zdroje">
                <span class="oi oi-document" aria-hidden="true"></span> Zdroje
            </NavLink>
        </li>
    </ul>
</div>
<style>
    .sidebar .nadpis {
        border-bottom: 1px solid white;
        color: white;
        padding-left: 3rem;
        margin-bottom: 0.3rem;
        margin-top: 1rem;
    }

        .sidebar .nadpis h1 {
            font-size: 1.3rem;
            padding-top: 1rem;
        }
</style>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
